<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1051965231800-g6qmfu0io0kqsml61o9d6rpk890unp5s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051965231800-g6qmfu0io0kqsml61o9d6rpk890unp5s</string>
	<key>API_KEY</key>
	<string>AIzaSyDXZGQZAU7najX5DuvOm6LPj6JOSh-re6s</string>
	<key>GCM_SENDER_ID</key>
	<string>1051965231800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.valorant</string>
	<key>PROJECT_ID</key>
	<string>valorantapp-2fc13</string>
	<key>STORAGE_BUCKET</key>
	<string>valorantapp-2fc13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051965231800:ios:4038abb1a753ccd7d9da4d</string>
</dict>
</plist>